{% block file_row %}
    <fieldset class="form-group">
        {%- if id == 'ad_cover_file' -%}
            {{- block('file_widget') -}}
        {%- else -%}
            <div class="row align-items-center">
                {%- if form.parent.vars.data and form.parent.vars.data.id is not null -%}
                    <div class="col-auto">
                        <img src="{{ vich_uploader_asset(form.parent.vars.data, 'file') | imagine_filter('ad_mini') }}"
                             alt="Aperçu de l'image"
                             title="Aperçu de l'image"
                             class="ad-mini "
                             data-refer-to="{{ id }}">
                    </div>
                {%- endif -%}

                <div class="col">
                    {{- block('file_widget') -}}
                </div>

                <div class="col-auto js-button-delete"></div>
            </div>
        {%- endif -%}

        {%- if errors | length > 0 -%}
            <div class="input-file-errors">
                {%- for error in errors -%}
                    <span>{{- error.message -}}</span>
                {%- endfor -%}
            </div>
        {%- endif -%}
    </fieldset>
{% endblock %}
