{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <form method="post">
        {%- if error -%}
            <div class="alert alert-danger">
                {{- error.messageKey | trans(error.messageData, 'security') -}}
            </div>
        {%- endif -%}

        <h1 class="h3 mb-3 font-weight-normal">
            Connexion
        </h1>

        <label for="email" class="sr-only">
            Adresse email
        </label>
        <input type="email"
               value="{{ last_username }}"
               name="email"
               id="email"
               class="form-control"
               placeholder="Adresse email"
               required
               autofocus>

        <label for="password"
               class="sr-only">
            Mot de passe
        </label>
        <input type="password"
               name="password"
               id="password"
               class="form-control"
               placeholder="Mot de passe"
               required>

        <input type="hidden"
               name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me">
                Se souvenir de moi
            </label>
        </div>

        <button type="submit"
                class="btn btn-lg btn-primary">
            Se connecter
        </button>
    </form>

{% endblock %}
