{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container">

        {{ form_start(form) }}
        <div class="form-row">
            <div class="col">
                {{ form_row(form.type) }}
            </div>

            <div class="col">
                {{ form_row(form.codeType) }}
            </div>
        </div>

        {{ form_row(form.price) }}
        {{ form_row(form.cover) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}

        {% if form.medias | length > 0 %}
            {{ form_label(form.medias) }}

            <div id="ad_medias" data-prototype="{{ form_widget(form.medias.vars.prototype) | e('html_attr') }}">
                {% for media in form.medias %}
                    {{ form_row(media) }}
                {% endfor %}
            </div>
        {% else %}
            {{ form_row(form.medias) }}
        {% endif %}

        <div class="row mb-3">
            <button type="button"
                    id="js-add-media"
                    class="btn btn-secondary">
                Ajouter une nouvelle image
            </button>
        </div>

        <div class="form-row">
            <div class="col">
                {{ form_row(form.rooms) }}
            </div>

            <div class="col">
                {{ form_row(form.bedrooms) }}
            </div>

            <div class="col">
                {{ form_row(form.bathrooms) }}
            </div>
        </div>

        {{ form_row(form.address) }}

        <div class="form-row">
            <div class="col-12 col-md-4">
                {{ form_row(form.zipCode) }}
            </div>

            <div class="col-12 col-md-8">
                {{ form_row(form.city) }}
            </div>
        </div>

        <button type="submit"
                class="btn btn-primary">
            Enregistrer
        </button>
        {{ form_end(form) }}

    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('add_media') }}
{% endblock %}
