{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <main class="container">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Référence</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for ad in ads %}
                <tr>
                    <td>#{{ ad.id }}</td>
                    <td>{{ ad.name }}</td>
                    <td>{{ ad.description | striptags }}</td>
                    <td>{{ ad.price | number_format(0, ',', ' ') }} €</td>
                    <td>
                        <a href="{{ path('customer_ad_edit', {'ad': ad.id}) }}" class="btn btn-warning">
                            Modifier
                        </a>
                        <button type="button"
                                class="btn btn-danger"
                                data-ad="{{ ad.id }}"
                                data-token="{{ csrf_token('delete' ~ ad.id) }}"
                                data-toggle="modal"
                                data-target="#deleteModal">
                            Supprimer
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>

    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Êtes-vous sûr de vouloir modifier l'élément sélectionné ?
                    </h5>
                </div>

                <div class="modal-body">
                    <p>Cette action est irréversible.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>

                    <form id="js-delete-media" method="post">
                        <input type="hidden" name="_token">
                        <input type="hidden" name="_method" value="DELETE">

                        <button type="submit" class="btn btn-danger">Oui</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('remove_media') }}
{% endblock %}
